/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* HEADER PAGE STYLE START */
header img{
    width: 20px;
}
ul.menu-admin {
    justify-content: flex-end;
}
ul.menu-admin li{
    margin:0px 15px;
}
ul.menu-admin li a{
    color: black;
}
ul.menu-admin li a:hover {
    text-decoration-color: black;
}
/* HEADER PAGE STYLE END */

/* LOGIN PAGE STYLE START */
#login-form {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
#login-form input {
    height: 50px;
    width: 300px;
    border: 2px solid black;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}

#login-form input:hover {
    border: 3px solid black;
    background-color: #f2f2f2;
}

#login-form input:focus {
    outline: none;
}

#login-form button {
    height: 50px;
    width: 130px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    /*background-color: #f2f2f2;*/
}

#login-form button:hover {
    border: 3px solid black;
    background-color: #d9d9d9;
    /*font-weight: 700;*/
}

#login-form button:focus {
    outline:none;
}
/* LOGIN PAGE STYLE END */

/* PROFILE PAGE STYLE START */
.profile{
    margin-top:50px;
    text-align: center;
}
div.profile img {
    width: 200px;
}
/* LOGIN PAGE STYLE END */

/* SUBJECTS PAGE STYLE START */
.chit {
    padding-top:23px;
    margin-left: 10px;
    width: 1120px;
    height: 110px;
    margin-top: 4px;
    font-size: 34px;
    border-radius: 25px;
    background: #ededed;
    text-align:center;
}
/*.redirectToSemester1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.redirectToSemester1:hover {
    border: 2px solid black;
    background-color: #d9d9d9;
    text-align:center;
}
.redirectToSemester2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.redirectToSemester2:hover {
    border: 2px solid black;
    background-color: #d9d9d9;
    text-align:center;
}*/

.line {
    margin-top: -1px;
    margin-left: 10px;
    width: 1120px;
    height: 3px;
    background: black;
}
.subjects{
    display:inline-block;
    margin-top: -1px;
    margin-left:10px;
    width: 1120px;
    height:90px;
    border: 2px solid black;
    /*border-top:none;*/
    margin-bottom:10px;
    border-radius:15px;
}
.subjects input{
    position: relative;
    width: 14px;
    height: 14px;
    margin: 38px;
    border: 1px solid black;
}
.subjects h1{
    position:relative;
    margin-left: 80px;
    margin-top: -95px;
}

.subjects h1 a{
    text-decoration-line:none;
    color: black;
    font-size: 20px;
}
.subjects p{
    position: relative;
    font-size:14px;
    margin-left: 80px;
}
.subjects h3{
    position: relative;
    float:right;
    font-size: 16px;
    margin-top: -68px;
    margin-right: 20px;
}
.subjects h4{
    position: relative;
    float:right;
    font-size: 14px;
    font-weight:normal;
    margin-right: 20px;
    margin-top: -34px;
}
/*.subjects .information {
    position:relative;
    width: 906px;
    height:20px;
    background: #d7dbd8;
    border: none;
    margin-top:-6px;
}*/
/* SUBJECTS PAGE STYLE END */