/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* HEADER + MENU PAGE STYLE START */
header img{
    width: 20px;
}
ul.top-menu {
    justify-content: flex-end;
}
ul.top-menu li{
    margin:0px 15px;
}
ul.top-menu li a {
    color: black;
}
ul.top-menu li a:hover {
    text-decoration-color: black;
}
/* HEADER PAGE STYLE END */

/* LOGIN PAGE STYLE START */
#login-form {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
#login-form input {
    height: 50px;
    width: 300px;
    border: 2px solid black;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}

#login-form input:hover {
    border: 3px solid black;
    background-color: #f2f2f2;
}

.drop-down-list {
    width: 300px;
    border: 2px solid black;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
}
.drop-down-list:hover{
    border: 3px solid black;
    background-color: #f2f2f2;
}


#login-form input:focus {
    outline: none;
}

#login-form button {
    height: 50px;
    width: 130px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    /*background-color: #f2f2f2;*/
}

#login-form button:hover {
    border: 3px solid black;
    background-color: #d9d9d9;
    /*font-weight: 700;*/
}

#login-form button:focus {
    outline:none;
}
/* LOGIN PAGE STYLE END */

/* PROFILE PAGE STYLE START */
.profile{
    margin-top:50px;
    text-align: center;
}
div.profile img {
    width: 200px;
}
/* LOGIN PAGE STYLE END */

/* SUBJECTS PAGE STYLE START */
.subject-menu ul {
    list-style-type: none;
    text-align: right;
}
.subject-menu ul li{
    display: inline;
}
.subject-menu ul li a{
    font-size: 25px;
    color: black;
    margin-right: 10px;
}
.SubjectsPageViewForOlderStudents {
    padding-top: 23px;
    margin-left: 10px;
    width: 1120px;
    height: 110px;
    margin-top: 4px;
    font-size: 34px;
    border-radius: 25px;
    background: #ededed;
    text-align: center;
}

.SearchBox {
    align-self: flex-end;
}
.TextInput {
    border: 1px solid black;
    border-radius: 10px;
}

.TextInput:hover {
    border: 1px solid black;
    border-radius: 10px;
}

.SearchButton {
    border: 1px solid black;
    background: white;
    border-radius: 10px;
}

.SearchButton:hover {
    border: 1px solid black;
    background: #d9d9d9;
    border-radius: 10px;
}
/*RADDIO BUTTON*/
.final-fav-checkmark {
    position: relative;
    cursor: pointer;
    user-select: none;
}
.final-fav-checkmark input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.final-fav-checkmark span {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #eee;
}
.final-fav-checkmark span {
    border: 3px solid black;
}

.final-fav-checkmark:hover input ~ span {
    background-color: #ccc;
}

.final-fav-checkmark input:checked ~ span {
    background-image: url("../img/checkmark.png");
    background-size: cover;
}
button.final-choice {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}
/*main subject content*/
div.subjects {
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px 0;
    padding: 7px 0;
}

.subjects h1 {
    font-size: 25px;
}

.subjects a {
    color: black;
}

div.all-subjects-fav-button{
    display: flex;
    align-items: center;
}

.subjects button {
    border: none;
    background: transparent;
    width: 50px;
    height: 50px;
    background-size: cover;
    align-self: center;
    margin: 0 auto;
}

.subjects button:focus {
    outline: none;
}

button.all-subjects-fav-button-add {
    background-image: url("../img/bookmark.png");
}

button.all-subjects-fav-button-delete {
    background-image: url("../img/bookmark_favourite.png");
}

/*div.all-subjects-fav-button input {
    border: none;
    background: transparent;
    width: 18px;
    height: 18px;
    background-size: cover;
    align-self: center;
    margin: 0 auto;
}*/

.all-subjects-info {
    align-items: center;
}

.all-subjects-lecture-info
{
    text-align:right;
    align-items: center;
}

.link-to-favourite{
    text-align:center;
}

.link-to-favourite a{
    text-align: center;
    color: black;
    font-size: 30px;
}
/*.subjects .information {
    position:relative;
    width: 906px;
    height:20px;
    background: #d7dbd8;
    border: none;
    margin-top:-6px;
}*/
/* SUBJECTS PAGE STYLE END */
/* SINGLE SUBJECT INFO PAGE STYLE START */
div.single-subject {
    margin-top: 30px;
}
div.single-subject-header{
    border-bottom: 1px solid black;
}
.single-subject-header h1 {
    font-size: 25px;
}
.single-subject-lecturer {
    text-align: right;
    align-items: center;
}
.single-subject-info {
    padding: 0 15px;
    margin-top: 15px;
}
.single-subject-info h1 {
    font-size: 25px;
}
#FacultyMap {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* SINGLE SUBJECT INFO PAGE STYLE END */

/* ADD NEW USER PAGE STYLE START */
.add-new-user div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.add-new-user label {
    margin-right: 15px;
    line-height: 32px;
}

.add-new-user input {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.add-new-user input:checked {
    border: 6px solid black;
}

.add-new-user button {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
}

    .add-new-user button:hover,
    button:focus {
        color: #999;
    }

    .add-new-user button:active {
        background-color: white;
        color: black;
        outline: 1px solid black;
    }

/* ADD NEW USER PAGE STYLE END */